[submodule "Xmu.Crms.Shared"]
	path = Xmu.Crms.Shared
	url = git@github.com:Librazy/Xmu.Crms.Shared.git
	branch = master
[submodule "Xmu.Crms.Services.Insomnia"]
	path = Xmu.Crms.Services.Insomnia
	url = git@github.com:Librazy/Xmu.Crms.Services.Insomnia.git
	branch = master
[submodule "Xmu.Crms.Web.Insomnia"]
	path = Xmu.Crms.Web.Insomnia
	url = git@github.com:Librazy/Xmu.Crms.Web.Insomnia.git
	branch = master
[submodule "Xmu.Crms.API.Insomnia"]
	path = Xmu.Crms.API.Insomnia
	url = git@github.com:Librazy/Xmu.Crms.API.Insomnia.git
	branch = master
[submodule "Xmu.Crms.Insomnia.XUnitTest"]
	path = Xmu.Crms.Insomnia.XUnitTest
	url = git@github.com:Librazy/Xmu.Crms.Insomnia.XUnitTest
	branch = master
[submodule "Xmu.Crms.Services.ViceVersa"]
	path = Xmu.Crms.Services.ViceVersa
	url = git@github.com:Librazy/Xmu.Crms.Services.ViceVersa.git
	branch = master
[submodule "Xmu.Crms.Services.HighGrade"]
	path = Xmu.Crms.Services.HighGrade
	url = git@github.com:Librazy/Xmu.Crms.Services.HighGrade.git
	branch = master
